html,
body {
    height: 100%;
}

body {
    background: url("/template/bg.png") center top repeat-y;
    border: 1px solid #000000;
}

.header div div {
    height: 150px;
    border: 1px solid #000000;
    text-align: center;
}

.container-content {
    margin-top: 20px;
}

#filter {
    height: 150px;
    border: 1px solid #000000;
    text-align: center;
}

.banner-right {
    height: 150px;
    border: 1px solid #000000;
    text-align: center;
}

.card {
    height: 240px;
    border: 1px solid #000000;
    margin-bottom: 20px;
}

.card-name {
    display: inline-block;
    float: left;
    width: 70%;
    background: #b7b7b7;

}