@font-face {
    font-family: 'wf_SegoeUISemilight';
    src: url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Semilight/latest.eot');
    src: url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Semilight/latest.eot?#iefix') format('embedded-opentype'),
    url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Semilight/latest.woff') format('woff'),
    url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Semilight/latest.ttf') format('truetype'),
    url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Semilight/latest.svg#web') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'wf_SegoeUIBold';
    src: url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Bold/latest.eot');
    src: url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Bold/latest.eot?#iefix') format('embedded-opentype'),
    url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Bold/latest.woff') format('woff'),
    url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Bold/latest.ttf') format('truetype'),
    url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Bold/latest.svg#web') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "RobotoBold";
    src: url("../fonts/RobotoBold/RobotoBold.woff") format("woff"),
    url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "PTSansRegular"; */
@font-face {
    font-family: "PTSansRegular";
    src: url("../fonts/PTSansRegular/PTSansRegular.eot");
    src: url("../fonts/PTSansRegular/PTSansRegular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/PTSansRegular/PTSansRegular.woff") format("woff"),
    url("../fonts/PTSansRegular/PTSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "PTSansBold"; */
@font-face {
    font-family: "PTSansBold";
    src: url("../fonts/PTSansBold/PTSansBold.eot");
    src: url("../fonts/PTSansBold/PTSansBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/PTSansBold/PTSansBold.woff") format("woff"),
    url("../fonts/PTSansBold/PTSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

html,
body {
    height: 100%;
}

body {
    background: url("/template/bg.png") center top repeat-y;
    font-family: 'wf_SegoeUISemilight';
}

a:focus {
    outline: none;
}

h1 {
    color: #004e5b;
    font-family: 'wf_SegoeUIBold';
    font-size: 2.2em;
}

.left-container {
    float: left;
    width: 252px;
    padding: 0 15px;
    margin-left: -100%;
}

.right-container-wrap {
    float: left;
    width: 100%;
}

.right-container {
    margin-left: 252px;
    padding: 0 15px;
}

#logo {
    display: block;
    background: url("/template/logo.png") center 20px no-repeat;
    background-size: 100% auto;
    height: 177px;
    padding-top: 144px;
    text-align: center;
    font-size: 1.25em;
    font-weight: bold;
    color: #8cb6bd;
    letter-spacing: 2px;
}

#logo:hover {
    text-decoration: none;
}

.top-banner {
    text-align: center;
    margin-top: 23px;
}

.top-banner img {
    width: 100%;
}

.top-menu {
    height: 66px;
    width: 100%;
    background: #313131;
}

.add-item {
    display: block;
    margin: 12px 0;
    border: 3px solid #ffcd07;
    text-align: center;
    line-height: 36px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9em;
}

.add-item:hover {
    color: white;
}

.content {
    padding: 0;
}

/**/
.sort-item {
    border: 3px solid #f2f2f2;
    margin: 5px 0 10px 0;
    background: url("/template/sort_bg.png") left top repeat;
}

.sort-item-inner {
    float: left;
    width: 25%;
    height: 32px;
    font-size: 0.95em;
    color: #4b4b4b;
    text-align: center;
    padding: 0 16px;
    margin: 10px 0;
    font-weight: bold;
    line-height: 32px;
    background: url("/template/sort_line.png") -16px top no-repeat, url("/template/sort_line.png") right -16px top no-repeat;
}

.sort-item-header {
    font-family: 'wf_SegoeUIBold';
    font-size: 1em;
    text-transform: uppercase;
    color: #9a9a9a;
    background: url("/template/sort_line.png") right -16px top no-repeat;
}

.sort-item-end {
    background: url("/template/sort_line.png") -16px top no-repeat;
}

/**/
.card-row {
    display: flex;
    justify-content: space-between;
    padding: 7px 0;
}

.card {
    display: block;
    position: relative;
    background: #EEEEEE;
    padding: 10px;
    color: #696969;
    margin-bottom: 10px;
    height: 100%;
    border: 2px solid #EEEEEE;
}

.card:hover {
    text-decoration: none;
    color: #696969;
    border: 2px solid red;
}

.card-name {
    display: block;
    color: #2b2b2b;
    text-decoration: none;
    font-family: 'wf_SegoeUIBold';
    font-size: 1.4em;
}

.card-image {
    height: 193px;
    margin-bottom: 5px;
}

.card-price {
    font-family: "RobotoBold";
    color: #308492;
    font-size: 1.8em;
    text-transform: uppercase;
    text-align: right;
}

.card-active {
    background: #3b9faf !important;
    color: #a6ced5 !important;
}

.card-active .card-name, .card-active .card-price {
    color: white !important;
}

/**/
#filter {
    margin-top: 70px;
    position: relative;
}

.filter-head span {
    display: inline-block;
    height: 36px;
    float: left;
    width: 50%;
    text-align: center;
    color: #ccf8ff;
    font-family: 'wf_SegoeUIBold';
    font-size: 1.15em;
    text-transform: uppercase;
    line-height: 36px;
}

.filter-head span.active {
    background: #3b9faf;
}

.filter-body {
    background: #3b9faf;
    padding: 0 15px 10px 15px;
}

.banner-left {
    margin: 9px 0;
    width: 100%;
}

.banner-left a {
    width: 100%;
}

.banner-left img {
    width: 100%;
}

/**/
.footer {
    width: 100%;
    background: #313131;
}

.footer a {
    color: white;
}

.footer-side-col {
    padding-top: 25px;
    border-left: 1px solid #464646;
    border-right: 1px solid #464646;
    color: white;
    height: 200px;
}

.footer-left-menu a {
    font-family: "PTSansRegular";
    color: #ffffff;
    text-transform: uppercase;
    font-size: 0.9em;
}

.footer-menu-header {
    padding-top: 25px;
    font-family: "PTSansBold";
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1em;
    margin-left: 40px;
    margin-bottom: 5px;
}

.footer-menu-body ul a {
    font-family: "PTSansRegular";
    background: rgba(0, 0, 0, 0) url("/template/footer-list-marker.png") no-repeat scroll left 11px;
    display: inline-block;
    padding: 0 30px 0 10px;
}

.footer-logo {
    display: block;
    background: url("/template/logo.png") center top no-repeat;
    background-size: contain;
    height: 75px;
    margin-bottom: 10px;
}

.footer-right-copy {
    text-transform: uppercase;
    display: block;
}

.footer-right-col {
    padding-right: 30px;
    padding-left: 30px;
}

.footer-right-name {
    display: block;
    font-size: 0.8em
}

.footer-right-informer {
    text-align: center;
}

#yandex_map {
    margin-bottom: 20px;
}

.description {
    color: #2f2f2f;
    font-family: 'wf_SegoeUISemilight';
}

.description p {
    padding: 0px 5px;
}

.description h1 {
    border-bottom: 3px solid #eee;
}

.description a, .description a:hover {
    color: #008198;
    text-decoration: underline;
}

.description-subtitle {
    font-size: 1.15em;
    font-weight: bold;
}

.description-yellow {
    background: #ffcd07;
    font-size: 1.05em;
}

.description-black {
    background: #2a2a2a;
    color: white;
    font-size: 1.05em;
    font-weight: bold;
}

.description li {
    list-style-image: url("/template/li-icon.png");
    /* background: url("/template/li-icon.png") left top no-repeat ;*/
}

.sort-item-inner a {
    color: #4c4c4c;
    border-bottom: 1px dashed #4c4c4c;
}

.sort-item-inner a:hover {
    text-decoration: none;
}

.sort-item-inner-active {
    color: #196d7b !important;
    text-decoration: none !important;
    padding-right: 10px;
}

.sort-item-link-up {
    background: url("/template/sort_arr_up.png") right center no-repeat;
}

.sort-item-link-down {
    background: url("/template/sort_arr_down.png") right center no-repeat;
}

.breadcrumb {
    margin-bottom: 0;
}

.name-article {
    margin-top: 5px !important;
}

.rating-star {
    margin: 20px 0;
    display: block;
    width: 100px;
    height: 23px;
    background: url("/template/rating.png") left 0 no-repeat;
}

.card .rating-star {
    position: absolute;
    left: -2px;
    top: 0;
}

.gallery-thumbnail {
    margin-top: 20px;
    margin-bottom: 20px;
}

/*-----------------------------------------------*/
/*Top Menu*/
/* стили для ПК */
#top-center {
    list-style: outside none none;
    padding: 0;
    margin: 0;
    visibility: visible;
    display: flex;
    justify-content: space-between;
}

#top-center li {
    display: block;
    float: left;
    position: relative;
}

#top-center li a {
    display: table;
    padding: 24px 30px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
}

#top-center li:hover a {
    text-decoration: underline;
}

#top-center li:hover .sub-menu a {
    color: white;
    height: 40px;
    line-height: 40px;
}

#top-center li:hover .sub-menu a:hover {
    text-decoration: underline;
}

/* стили для выпадающего списка */
.sub-menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: -1;
    left: 0;
    padding: 0;
    width: 100%;
    background: #313131;
}

#top-center li:hover > ul {
    visibility: visible;
    opacity: 1;
    z-index: 1;
}

#top-center .sub-menu li {
    float: none;
    border-top: 1px solid #dddddd;
}

#top-center .sub-menu li a {
    width: auto;
    min-width: 100%;
    padding: 0 11px;
    white-space: nowrap;
    text-align: center;
    border: none;
}

#top-center li a:hover + .sub-menu, .sub-menu:hover {
    display: block;
}

/* стили для адаптивности */
@media screen and (max-width: 760px) {
    .sub-menu {
        position: static;
        display: none;
    }

    .sub-menu li {
        margin-bottom: 1px;
    }

    #top-center li, #top-center li a {
        width: 100%;
        border: none;
        padding: 0px;
    }

    #top-center .sub-menu li a {
        padding: 0px;
    }

    #top-center {
        width: 100%;
    }
}