.item-header {
    border-bottom: 3px solid #eeeeee;
    color: #979797;
    font-family: 'wf_SegoeUISemilight';
    line-height: 44px;
}

.item-like-h1 {
    color: #004e5b;
    font-size: 2.2em;
    font-family: 'wf_SegoeUIBold';
    margin: 5px 0;
}

.like-h1 {
    color: #004e5b;
    font-size: 2.2em;
    font-family: 'wf_SegoeUIBold';
    border-bottom: 3px solid #eee;
}

.item-adding-time, .item-show-count {

    line-height: 50px;
    font-weight: bold;
    font-size: 0.9em;
}

.item-adding-time span {
    color: #57c0d1;
}

.item-show-count {
    padding-left: 20px;
    background: url("/template/eye-icon.png") left center no-repeat;
    float: right;
}

.item-top-info {
    margin: 11px 0 22px;
}

.item-address {
    padding-left: 20px;
    background: url("/template/map-icon.png") left center no-repeat;
}

.item-phone {
    padding-left: 20px;
    background: url("/template/phone-icon.png") left center no-repeat;
}

.item-url {
    padding-left: 20px;
    background: url("/template/check-icon.png") left center no-repeat;
}

.item-gallery-img {
    display: block;
    width: 33.333%;
    float: left;
    margin-top: 17px;
}

.item-gallery-img img {
    padding: 0 12px;
}

.item-price {
    color: white;
    height: 33px;
    line-height: 33px;
    display: inline-block;
    background: #074a55 url("/template/price-bg.png") right center no-repeat;
    padding: 0 10px;
}

.item-right-option {
    border-bottom: 3px solid #eee;
    padding: 15px 0 8px;
}

.center img {
    max-width: 100%;
}

.modal-header h3 {
    display: inline-block;
    margin: 0;
    float: left;
}

#questionnaire th {
    background: #d3d3d3;
    text-align: center;
}

.model-print {
    float: right;
}

.contact {
    margin-bottom: 10px;
}

.vote-wrap {
    margin-bottom: 15px;
}

.vote-wrap h2 {
    color: #004e5b;
}

.vote-single {
    padding: 10px 20px;
    border: 3px solid #eee;
    margin-top: 10px;
    margin-bottom: 10px;
}

.vote-name {
    display: inline-block;
    color: #007d95;
    margin-right: 35px;
    font-family: 'wf_SegoeUIBold';
}

.vote-data {
    display: inline-block;
    color: #949494;
    font-family: 'wf_SegoeUISemilight';
}

.vote-text {
    padding-top: 10px;
}

.item-bound {
    width: 32%;
    background: #eeeeee none repeat scroll 0 0;
}

.item-bound .card-image {
    height: 125px;
}

.item-bound .card {
    text-decoration: none !important;
}

.object-h1 {
    margin-top: 13px;
}

.snippet {
    margin: 0 0 10px;
    padding: 5px 10px;
    background: #808080;
}

.item-bound-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin: 0 0 10px;
}

.card-label-wrap {
    position: absolute;
    top: -2px;
    right: 15px
}

.card-label {
    width: 29px;
    height: 33px;
    display: inline-block;
    margin-right: 5px;
}

.card-label-new {
    background: url("/template/label_new.png") top center no-repeat;
}

.card-label-cheap {
    background: url("/template/label_cheap.png") top center no-repeat;
}

.card-label-percent {
    background: url("/template/label_percent.png") top center no-repeat;
}

.card-label-hit {
    background: url("/template/label_hit.png") top center no-repeat;
}

.card-bound-label {
    width: 19px;
    height: 22px;
    display: inline-block;
    margin-right: 3px;
}

.card-bound-label-new {
    background: url("/template/label_new_min.png") top center no-repeat;
}

.card-bound-label-cheap {
    background: url("/template/label_cheap_min.png") top center no-repeat;
}

.card-bound-label-percent {
    background: url("/template/label_percent_min.png") top center no-repeat;
}

.card-bound-label-hit {
    background: url("/template/label_hit_min.png") top center no-repeat;
}

.ajaxtable-link {
    font-weight: bold;
    font-size: 1.6em;
    border-bottom: 1px dashed #23527c;
    text-decoration: none;
}

.ajaxtable-link:hover {
    text-decoration: none;
}